﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderBody()
    @*<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                var contact = $.connection.contactHub;
                contact.client.displayContact = function () {
                    getData();
                };
                $.connection.hub.start();
                getData();
            });

            function getData() {
                var $tbl = $('#tblInfo');
                $.ajax({
                    url: $("#Get").val(),
                    type: 'GET',
                    datatype: 'Json',
                    success: function (data) {
                        $tbl.empty();
                        $.each(data.listcon, function (i, model) {
                            $tbl.append(
                                '<tr>' +
                                '<td>' + model.ContactName + '</td>' +
                                '<td>' + model.ContactNo + '</td>' +
                                '</tr>'
                            );
                        });
                    }
                });
            }
        </script>*@
</body>
</html>
