﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Contact Details</h1>

@Html.Hidden("Get", Url.Action("Get", "Home"))

<table class="table">
    <thead>
        <tr>
            <th>Contact Name</th>
            <th>Contact No</th>
        </tr>
    </thead>
    <tbody id="tblInfo"></tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $.connection.hub.url = 'http://localhost:55896/signalr';
            var chatHubProxy = $.connection.contactHub;
            chatHubProxy.client.displayContact = function () {
                getData();
            };
            //var connection = $.hubConnection();
            //var chatHubProxy = connection.createHubProxy('contactHub');
            //chatHubProxy.on('displayContact', function () {
            //    getData();
            //});
            $.connection.hub.start();
            getData();
        });

        function getData() {
            var $tbl = $('#tblInfo');
            $.ajax({
                url: $("#Get").val(),
                type: 'GET',
                datatype: 'Json',
                success: function (data) {
                    $tbl.empty();
                    $.each(data.listcon, function (i, model) {
                        $tbl.append(
                            '<tr>' +
                            '<td>' + model.ContactName + '</td>' +
                            '<td>' + model.ContactNo + '</td>' +
                            '</tr>'
                        );
                    });
                }
            });
        }
    </script>
}